#Login {
    position: relative;
    top: -40px;
    left: 112em;

}

#Changelogs {
    position: relative;
    top: -75px;
    left: 103em;
}

#Support {
    position: relative;
    top: -110px;
    left: 95em;
}

#Dontate {
    position: relative;
    top: -143px;
    left: 87em;
}

